
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">BIG BAZAR</h1>
    <br> @Html.ActionLink("LOGIN ", "PersonLogin", "Login")<br />
    <br> @Html.ActionLink("REGISTER ", "PersonRegister", "Login")<br />

    @*<br> @Html.ActionLink("LOGIN AS USER", "Create", "Users")<br />
        <br> @Html.ActionLink("LOGIN AS ADMIN", "Create", "Users")<br />*@
</div>


