
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device-width"/>
    <title>Tndex</title>
    </head>
<body>
    <div align="center">
        <h4>Home page</h4>
        <hr />
        <div>
            @Html.ActionLink("Item Details", "Index", "Item")
        </div>
        <div>
            @Html.ActionLink("Customer Details", "Index", "Customer")
        </div>
        </div>
</body>

</html>