<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CRUDoperationDataAccessLayer.Properties.Settings.crudoperationsConnectionString"
            connectionString="Data Source=DESKTOP-TEJJIDI;Initial Catalog=crudoperations;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>