
@{
    ViewBag.Title = "Qunit";
}

<h2>Qunit</h2>

<html>
<head>
    <meta charset="utf-8" />
    <title>Qunit test </title>
    <script src="~/Scripts/qunit.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-1.22.0.css">
    <script src="https://code.jquery.com/qunit/qunit-1.22.0.js"></script>
    <script src="~/Scripts/validation.js"></script>
</head>
<body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
    <script>
        {
            QUnit.test("My test", function (assert) {
                var value = "1";
                assert.equal(value, "1", "true value is 1");
            });
            QUnit.test("TestPatientName", function (assert) {
                var result = ValidatePatientName("kavya");
                assert.equal(result, true, "name is kavya");
            });
        }
    </script>

</body>
</html>